.tile {
    display: inline-flex;
}

.grass {
    background-color: #42b842;
}

.rock {
    background-color: #42b842;
    background-image: url('/tiles/rock.png')
}

.tree {
    background-color: #42b842;
    background-image: url('/tiles/tree.png')
}

.chest {
    background-color: #42b842;
    background-image: url('/tiles/chest.png')
}

.healthDrain {
    background-color: red;
}

.healthSource {
    background-color: green;
}

.desert {
    background-image: url('/tiles/desert.jpg');
    background-size: contain;
}

.desertPlant {
    background-image: url('/tiles/desertplant.jpg');
    background-size: contain;
}